pipeline/erp_to_stg.json
{
	"name": "erp_to_stg",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Lookup_dev]",
						"storedProcedureParameters": {
							"parameter": {
								"type": "String",
								"value": {
									"value": "@{formatDateTime(utcnow(),'yyyy-MM-dd h:mm tt')}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_DEV",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lavers",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "SourceSystem",
											"value": {
												"value": "LAVERS",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@item().ExecutableQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table dbo.',item().TargetTableName ,\n' WITH (PARTITIONS (4))'  )}",
										"type": "Expression"
									},
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LAvers_Source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_NTG_Sink",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "@item().TargetTableName"
									}
								}
							]
						},
						{
							"name": "BT LIVE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "SourceSystem",
											"value": {
												"value": "BisTrack Live",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@item().ExecutableQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table dbo.',item().TargetTableName ,\n' WITH (PARTITIONS (3))'  )}",
										"type": "Expression"
									},
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_BTlive",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_NTG_Sink",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "@item().TargetTableName"
									}
								}
							]
						},
						{
							"name": "BT consolidated",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "SourceSystem",
											"value": {
												"value": "BisTrack Consolidated",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@item().ExecutableQuery",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table dbo.',item().TargetTableName ,\n' WITH (PARTITIONS (2))'  )}",
										"type": "Expression"
									},
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Bis_Track_Consolidated_Source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_NTG_Sink",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "@item().TargetTableName"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Delivery_app"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-19T15:10:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}