pipeline/Lavers_erp_to_stg_copy_VT_test.json
{
	"name": "Lavers_erp_to_stg_copy_VT_test",
	"properties": {
		"activities": [
			{
				"name": "Lookup Schema",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_Lookup]",
						"storedProcedureParameters": {
							"parameter": {
								"type": "String",
								"value": {
									"value": "@{formatDateTime(utcnow(),'yyyy-MM-dd h:mm tt')}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Schema').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy BTLive data to NTG",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": ".dbo.@{item().SourceTableName}"
								},
								{
									"name": "Destination",
									"value": "dbo.@{item().TargetTableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "SourceSystem",
											"value": {
												"value": "BisTrack Live",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "select\ncase \n    when item().sourcetablename='OrderHeader'\n    then concat('select ', item().column_name, ' from dbo.'. item().sourcetablename,\n        'where DateTimeLastModified >= ', DATEADD(m, -6, getdate())\n    else concat('select ', item().column_name, ' from dbo.'. item().sourcetablename)\nend",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@{concat('truncate table dbo.',item().TargetTableName ,\n' WITH (PARTITIONS (3))'  )}",
										"type": "Expression"
									}
								},
								"enableStaging": false,
								"parallelCopies": 32,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_BTlive",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_NTG_Sink",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "capture logs BTLive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy BTLive data to NTG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "."
								},
								{
									"name": "Destination",
									"value": "dbo.pipeline_log"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT '@{pipeline().DataFactory}' as DataFactory_Name,\n'@{pipeline().Pipeline}' as Pipeline_Name,\n'@{pipeline().RunId}' as RunId,\n'@{item().sourcetablename}' as Source,\n'@{item().TargetTableName}' as Destination,\n'@{pipeline().TriggerType}' as TriggerType,\n'@{pipeline().TriggerId}' as TriggerId,\n'@{pipeline().TriggerName}' as TriggerName,\n'@{pipeline().TriggerTime}' as TriggerTime,\n'@{activity('Copy BTLive data to NTG').output.rowsCopied}' as rowsCopied,\n'@{activity('Copy BTLive data to NTG').output.rowsRead}' as RowsRead,\n'@{activity('Copy BTLive data to NTG').output.usedParallelCopies}' as No_ParallelCopies,\n'@{activity('Copy BTLive data to NTG').output.copyDuration}' as copyDuration_in_secs,\n'@{activity('Copy BTLive data to NTG').output.effectiveIntegrationRuntime}' as effectiveIntegrationRuntime,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].source.type}' as Source_Type,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].sink.type}' as Sink_Type,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].status}' as Execution_Status,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].start}' as CopyActivity_Start_Time,\n'@{utcnow()}' as CopyActivity_End_Time,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].detailedDurations.queuingDuration}' as CopyActivity_queuingDuration_in_secs,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].detailedDurations.timeToFirstByte}' as CopyActivity_timeToFirstByte_in_secs,\n'@{activity('Copy BTLive data to NTG').output.executionDetails[0].detailedDurations.transferDuration}' as CopyActivity_transferDuration_in_secs\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": false,
								"parallelCopies": 20,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_log_SQL_Source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_log_SQL_Sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "If Copy from BTLive fails",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy BTLive data to NTG",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Copy BTLive data to NTG').output.executionDetails[0].status, 'Failed')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Break Out_Bis_Track_Live",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@variables('PipelineRunId')",
												"type": "Expression"
											},
											"method": "POST",
											"body": {
												"value": "{}",
												"type": "Expression"
											},
											"authentication": {
												"type": "MSI",
												"resource": {
													"value": "https://management.azure.com",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "eCommerce_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-31T10:11:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}